header{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 120%;
    background-color: grey;  
}

html{
    background-color: rgb(94, 114, 114);
}

main div{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 94, 94);
}
main button{
    background-color: green;
    font-size: 200%;
    margin-top: 2%;
}
main button:hover{
    background-color: rgb(212, 255, 223);

}
main input{
    font-size: 150%;
    padding-right: 40%;
    
}
nav{
    display: flexbox;
}